@import url('https://fonts.googleapis.com/css?family=Lato|Passion+One&subset=latin-ext');
/*
font-family: 'Lato', sans-serif;
font-family: 'Passion One', cursive;
*/

body{
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.title {
  font-family: 'Passion One', cursive;
  color: #539E6A;
  font-size: 50px;
  margin-top: 5vh;
  font-weight: normal;
  margin-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.sub-title {
  font-family: 'Lato';
  color: #539E6A;
  font-size: 38px;
  margin-top: 5vh;
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
}

.fixed-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#svg {
  display: none;
}
